/* Sets colour width and height of the body of each page*/
body{
    width:100%;
    height:100%;
    background-color:#D0EAFF
}

/*Sets the shape and size of the nav bar*/
nav{
    width:80%;
    height:60px;
    background-color:#6194BC;
    margin:20px auto 0px auto;
    color:aliceblue;
    border-radius:30px
}

/*Aligns the nav bar options so the set to the right*/
nav ul{
    list-style:none;
    float:right;
    font-size:18px;
    display:inline-block
}

/*Insures the nav bar options are in line and spaced from each other*/
nav ul li{
    display:inline-block;
    padding:0px 16px 0px 16px
}

/*underlines the nav options that are not in use when hovered over*/
nav>ul>li>a:hover {
    text-decoration: underline
}

/*Gives the options their colour */
nav ul li a{
    text-decoration:none;
    color:#ffffff
}

/* Sets demensions and spacing for logo*/
nav img{
    height:47px;
    width:200px;
    padding-top:5px;
    padding-left:15px
}

/*gives all but the last option a border to its right to seperate easier*/
.nav-options{
    border-right:1px white solid
}

/*Underlines the nav bar option of the current page*/
.current-page{
    text-decoration:underline
}

/*Sets the demensions of the profile pic in index.html*/
.home-profile-img{
    border-radius:60px;
    margin-right:20px
}

/* Sets the demensions, spacing and colour of inlay in both index.html and aboutme.html*/
.home{
    width:70%;
    height:100%;
    margin:auto;
    background-color:#ECECEC;
    padding:20px 20px 0px 20px
}

/* sets attributes of the paragraphs with the home class div*/
.home p{
    text-align:justify;
    font-size:26px;
    font-family:serif
}

/* Makes the head letter in index.html stand out.*/
.home p #headLetter{
    font-size:40px;
    font-weight:300
}

/*spacing for first two paragraphs in index.html*/
.first-p{
    padding-top:45px;
    padding-bottom:15px
}

/*spacing for last paragraphs in index.html*/
.last-p{
    padding-left:40px
}

/* Spacing and demensions for the individual parts for the form in emailme.html*/
form{
    width:350px;
    height:250px;
    margin:auto;
    padding-top:20px
}

/* Spacing and demensions for the form div in emailme.html*/
.form-container{
    width:450px;
    height:450px;
    margin:auto;
    padding-top:60px
}

/*  Spacing and demensions for the div holding the social medias in findfollow.html*/
.findfollow{
    width:450px;
    height:450px;
    margin:auto auto;
    padding-top:40px
}

/*  Spacing and demensions for the social media icons in findfollow.html*/
.icon{
    float:left;
    padding-right:12px
}

/*  Spacing and demensions for each of the divs for each of the social medias in findfollow.html */
.solo-media{
    display:inline-block
}

.solo-media img:hover{
    width: 100px;
    height: 100px
    
}

/*  Spacing and demensions for paragraphs in findfollow.html*/
.para{
    padding-top:10px;
    margin-left:12px;
    float:right
}

/* Centers the graphs in aboutme.html*/
.input{
    text-align: center;
}